@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --primary-color: #021c49;
  --secondery-color: #ffff;
  --btn-color: #30a8de;
  --btn-hover-color: #6fbee3;
  --text-hover-color: rgb(248, 244, 12);
}
html,
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1488px !important;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
} */
/* .col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}
.col-8 {
  width: calc(8.33% * 8);
  padding: 0 15px;
} */
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.title-1 {
  font-size: 80px;
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
}
.title-2 {
  font-size: 43px;
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
}
.title-3 {
  font-size: 37px;
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
}
.title-3 span {
  display: block;
}
.primary-btn {
  padding: 17px 37px !important;
  border-radius: 50px !important;
}

/*====================== Navbar ====================*/
header {
  background-color: var(--primary-color) !important;
}
.navbar-toggler-icon {
  background-color: var(--secondery-color) !important;
}
.navbar-brand {
  width: 163px;
  height: 101px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-item {
  margin-left: 50px !important;
}
.nav-link {
  color: var(--secondery-color) !important;
  letter-spacing: 3px !important;
}
.nav-link.active {
  color: #c6c2c2b5 !important;
}
.nav-link:hover {
  color: #c6c2c2b5 !important;
}
.nav-btn {
  margin-left: 40px !important;
  transition: 0.5s linear;
}
.nav-btn > .cnt-btn {
  background-color: var(--btn-color) !important;
  transition: 0.5s linear !important;
  color: var(--secondery-color) !important;
}
.nav-btn > .cnt-btn:hover {
  color: var(--primary-color) !important;
  transform: scaleX(1.05) !important;
  background-color: var(--btn-hover-color) !important;
}

/*======================== Banner ======================*/
.bnr-sec {
  padding: 95px 0 !important;
  background: url("../Assets/bnr-img.png") no-repeat center/cover !important;
  min-height: calc(100vh - 126.97px) !important;
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.bnr-cnt {
  max-width: 800px;
  /* height: 269px; */
}
.bnr-cnt > .fst-line {
  /* line-height: calc(1.35% / 27); */
  font-size: 27px;
  letter-spacing: 22.95px;
  margin-bottom: 18px !important;
}
.bnr-cnt .title-1 {
  margin-bottom: 20px !important;
  letter-spacing: 9px;
}
.bnr-cnt .title-2 {
  letter-spacing: 3px;
  margin-bottom: 32px;
}
.bnr-btn > .cont-btn {
  background-color: var(--btn-color);
  transition: 0.5s linear;
  color: var(--secondery-color);
}
.cont-btn:hover {
  background-color: transparent !important;
  transform: scaleX(1.05);
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
}
.bnr-btn {
  display: flex;
  align-items: center;
}
.bnr-btn > .book-btn {
  /* background-color: transparent; */
  border: 1px solid var(--primary-color);
  margin-left: 17px !important;
  transition: 0.5s linear;
}
.book-btn:hover {
  background-color: var(--btn-hover-color) !important;
  transform: scaleX(1.05);
}

/*================ About ==============*/
.about-sec {
  padding: 95px 0;
  /* min-height: 100vh; */
  background: url("../Assets/about.png") no-repeat center/cover;
}
.abt-title {
  margin-left: auto;
  max-width: 768px;
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 42px;
}
.abt-card {
  margin-left: auto;
  max-width: 662px;
  padding: 62px 48px 38px 71px;
  background-color: var(--primary-color);
  border-radius: 25px;
  color: var(--secondery-color);
  position: relative;
}
.abt-card::after {
  content: "";
  z-index: 1;
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 220px;
  height: 220px;
  background: radial-gradient(rgba(2, 28, 73, 100%) 1.5px, transparent 1.5px);
  background-size: 10px 10px;
  opacity: 40%;
}

.abt-card .title-3 span {
  font-size: 26px;
  letter-spacing: 4px;
}
.abt-card .title-3 {
  letter-spacing: 4px;
  margin-bottom: 16px;
}
.abt-card p {
  font-size: 18px;
  line-height: calc(34 / 18) !important;
  max-width: 543px;
}
.abt-card-btn {
  margin-top: 9px;
}
.abt-card-btn .read-btn {
  transition: 0.5s linear;
  background-color: var(--btn-color);
  color: var(--secondery-color);
}
.read-btn:hover {
  background: var(--secondery-color) !important;
  transform: scaleX(1.05);
  color: var(--primary-color) !important;
}

/*==================== Service ================*/
.serv-sec {
  padding: 95px 0;
  background-color: #021c49;
}
.serv-row {
  margin: 0 calc(-60px / 2);
}
.col-lg-8,
.col-lg-4 {
  padding: 0 calc(60px / 2);
}
.serv-card-1,
.serv-card-2 {
  padding: 26px 25px 36px 35px;
  background: linear-gradient(to bottom, #2863ca, #0744ae);
  color: var(--secondery-color);
  border-radius: 21px;
}
.serv-card-1 {
  margin-bottom: 29px;
}
.serv-card-1 > .serv-card-icon,
.serv-card-2 > .serv-card-icon {
  height: 53px;
  width: 53px;
  margin-bottom: 14px;
}
.serv-card-icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serv-card-1 .serv-card-title,
.serv-card-2 .serv-card-title {
  font-size: 26px;
  letter-spacing: 5px;
  margin-bottom: 9px;
}
.serv-card-1 p,
.serv-card-2 p {
  font-size: 18px;
  line-height: calc(34 / 18);
  margin-bottom: 24px;
}
.serv-card-1 .serv-card-btn,
.serv-card-2 .serv-card-btn {
  color: var(--secondery-color);
}
.serv-cnt {
  margin-top: 95px;
}
.serv-cnt .title-3 {
  margin-bottom: 16px;
  letter-spacing: 3px;
  color: var(--secondery-color);
}
.serv-cnt .title-3 span {
  font-size: 26px;
}
.serv-cnt p {
  font-size: 18px;
  color: var(--secondery-color);
  line-height: calc(34 / 18);
  margin-bottom: 31px;
}
.serv-btn > .book-btn {
  transition: 0.5s linear;
  color: var(--secondery-color);
  border: 1px solid var(--secondery-color);
}
.serv-btn > .book-btn:hover {
  transform: scaleX(1.05);
  background-color: var(--secondery-color) !important;
}

/*================= Review ======================*/
.review-sec {
  padding: 95px 0;
}
.review-row {
  margin: 0 calc(-30px / 3);
}
.col-lg-4 {
  padding: 0 calc(30px / 3);
}
.review-sec .head {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 13px;
}
.review-sec .head > span {
  font-size: 26px;
}
.review-sec .sub-head {
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: calc(34 / 18);
  max-width: 1105px;
  margin-bottom: 50px;
}
.review-card {
  padding: 46.88px 30px 58px 31px;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.16);
  border-radius: 21px;
}
.review-card-star {
  display: flex;
  align-items: center;
}
.review-card-star img {
  margin: 0 15px 18.13px 0;
}
.review-card p {
  font-size: 18px;
  line-height: calc(34 / 18);
  margin-bottom: 21px;
}
.prfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prfil-hldr {
  display: flex;
  align-items: start;
  justify-content: center;
}
.prfil-hldr p {
  margin-left: 13px;
}
.review-btn {
  margin: 49px 0 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-btn .leav-btn {
  margin-right: 29px;
  color: var(--secondery-color);
  background-color: var(--btn-color);
  transition: 0.5s linear;
}
.review-btn .leav-btn:hover {
  background-color: var(--secondery-color);
  transform: scaleX(1.05);
  border: 1px solid var(--primary-color);
}
.review-btn .view-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: 0.5s linear;
}
.review-btn .view-btn:hover {
  transform: scaleX(1.05);
  background-color: var(--btn-hover-color);
}
.appoin-card {
  /* margin: 0 15px; */
  border-radius: 50px;
  width: 100%;
  min-height: 30vh;
  background: url("../Assets/appion-img.png") no-repeat center/cover;
  padding: 79px 59px 79px 0;
  position: relative;
}
.appoin-card::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  opacity: 15%;
  background: linear-gradient(to left, #2863ca, #30a8de);
  top: -35px;
  right: -35px;
}

.appoin-card > .appoin-card-cnt {
  max-width: 775px;
  margin-left: auto;
}
.appoin-card-cnt > .title-3 {
  /* max-width: 775px; */
  letter-spacing: 4px;
  color: var(--secondery-color);
}
.appoin-card .appoin-btn {
  margin-top: 15px;
  border: 1px solid var(--secondery-color);
  color: var(--secondery-color);
  transition: 0.5s linear;
}
.appoin-btn:hover {
  transform: scaleX(1.05);
  color: var(--primary-color);
  background-color: var(--secondery-color) !important;
}
/*====================== Footer ====================*/
.footer-sec {
  padding-top: 95px;
  background-color: var(--primary-color);
}
.foot-row {
  margin: 0 calc(-47px / 5) 66px !important;
}
.foot-row .col-lg-2,
.foot-row .col-lg-3 {
  padding: 0 calc(47px / 5) !important;
}
.fst-col {
  margin: 0 auto;
  text-align: center;
}
.fst-col .foot-logo {
  width: 301px;
  height: 187px;
  margin-bottom: 16px;
}
.fst-col .foot-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fst-col .foot-icon {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 17px !important; */
  text-align: center !important;
}
/* .fst-col .foot-icon .icon {
  margin-left: 22px;
} */
.scnd-col .scnd-col-title {
  font-size: 26px;
  letter-spacing: 3px;
  margin-bottom: 23px;
  color: var(--secondery-color);
}
.scnd-col p {
  font-size: 18px;
  line-height: calc(34 / 18);
  color: var(--secondery-color);
}
.third-col .third-col-title {
  margin-bottom: 23px;
  font-size: 26px;
  letter-spacing: 3px;
  color: var(--secondery-color);
}
.third-col p {
  color: var(--secondery-color);
  font-size: 18px;
  line-height: calc(34 / 18);
}
.four-col .four-col-title {
  margin-bottom: 23px;
  font-size: 26px;
  letter-spacing: 3px;
  color: var(--secondery-color);
}
.four-col p {
  font-size: 18px;
  color: var(--secondery-color);
  line-height: calc(34 / 18);
}
.fifth-col .fifth-col-title {
  font-size: 26px;
  margin-bottom: 23px;
  color: var(--secondery-color);
}
.fifth-col p {
  color: var(--secondery-color);
  line-height: calc(34 / 18);
}
.foot-last-title {
  position: relative;
  padding: 47px 0 48px;
  text-align: center;
  color: var(--secondery-color);
  font-size: 18px;
  line-height: calc(35 / 18);
  letter-spacing: 0.6px;
}

.foot-last-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: rgba(39, 76, 142, 100%);
}

@media (max-width: 576px) { 
  .title-1 {
    font-size: 34px;
  }
  .title-3 {
    font-size: 24px;
  }
  .bnr-cnt {
    text-align: center;
  }
  .abt-title {
    text-align: center;
  }
  .bnr-btn {
    flex-direction: column;
  }
  .serv-cnt {
    text-align: center;
  }
  .review-btn {
    flex-direction: column;
  }
  .appoin-card-cnt {
    text-align: center;
  }
 }
 @media (min-width:576px) {
  .title-1 {
    font-size: 40px;
  }
  .title-3 {
    font-size: 28px;
  }
 }